*{
    margin: 0;
    padding: 0;
}
.cabeçalho-nome, .loja, .loja-estoque, .nome-funcionario{
    background-color: rgb(41, 40, 40);
    
}
h1,.nome, .estoque-nome, .loja-funcionario{
    text-align: center;
    padding: 16px;
    font-size: 48px;
    color: white;
}
.apresentacao,p{
    text-align: center;
    font-size: 16px;
    color: whitesmoke;
    margin-left: 0;
}
.menu,.ini,.cte, .ad, .fos, .menu-add, .pag, .cles, .adpto, .func, .menu-estoque, .menu-funcionario{
    background-color: rgb(70, 69, 69);
    padding: 8px;
    color: white;
}
h2, .estoque, .funcionario{
    font-size: 32px;
    margin: 16px;
}
.compras, .descricao{
    font-size: 24px;
}
.marca{
    background-color: rgb(207, 205, 205);
    position: relative;
    top: -50px;
}
.camiseta, .tenis, .blusa, .chinelo, .bone, .jeans{
    height: 150px;
    width: 150px;
    margin: 32px;
}
.roupa{
    margin-top: 100px;
    font-size: 32px;
    color: black;   
}
.roupa-marca{
    background-color: grey;
}
.marca-roupa{
    height: 100%;
    margin-left: 100px;
    
}
.sociais{
    position: relative;
    bottom: 0;
    font-size: 24px;
}
.rodape, .rodape-funcionarios, .rodape-add, .rodape-estoque{
    background-color: rgb(41, 40, 40);
    height: 40px;
    margin-bottom: 100px;
    padding-bottom: 60px;
    margin-bottom: 0;
    text-align: center;
}
.facebook{
    height: 50px;
    width: 50px;
    margin: 10px;
    position: relative;
    bottom: 0;
}
.instagram{
    height: 50px;
    width: 50px;
    margin: 10px; 
    position: relative;
    bottom: 0;
}
.twiter{
    height: 50px;
    width: 50px;
    margin: 10px;
    position: relative;
    bottom: 0;
}
.lista-funcionario{
    list-style: none;
    padding: 16px;
    font-size: 48px;
    margin: 10px;
}

