*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-rows: 60px 120px 120px 120px 120px 60px ;
    min-width: 100vw;
    min-height: 100vh;
}
header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: orange;
}
input{
    width: 90px;
    height: 20px;
}
